
@{
    ViewBag.Title = "Acerca de nosotros";
}
<style>
    .about{
        margin-top:90px;
        text-align:center;
    }
</style>
<div class="container about">
    <h2 class="display-4 animated fadeInDown">Queremos que te sientas en casa</h2>
    <p class="lead animated fadeInUp delay">Por eso nos aseguramos de que el ambiente sea seguro y cómodo. Descubre las hermosas vistas a la playa, atardeceres, mientras disfrutas esos momentos con tu familia o amigos.</p>
</div>
