.app-navbar {
    box-shadow: 0 4px 8px 0 rgba(122, 122, 122, 0.2), 0 6px 20px 0 rgba(110, 110, 110, 0.19);
}
{
    border:1px solid black;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top:85px;
    background-color: white;
    padding-top: 0px;
    z-index: 2;
    width: 100%;
    margin-bottom: 60px;
}
img {
    box-shadow: 0 4px 8px 0 rgba(122, 122, 122, 0.2), 0 6px 20px 0 rgba(110, 110, 110, 0.19);
}
/* home styles */
.home {
    text-align: center;
}
@media screen and (min-width:619px){
    .home{
    block-size: 1600px;
    }
}
.home .carousel >*{
    opacity:0.8
}
.home .cols-home{
    margin:20px;
    max-width:100%
}
.home .cols-home > .col-sm{
    margin:20px 10px
}
.home .cols-home > .col-sm .lead{
    padding-top:10px
}
.home .cols-home > .col-sm > img{
    display:block;
    margin:auto;
    width:100%;
    margin:10px
}
@media screen and (max-width:619px) {
    .home .home-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

@media screen and (min-width:620px ) {
    .home .home-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.app-footer {
    padding-top: 15px;
    text-align: center;
    z-index: -1;
    background-color: black;
    color: white;
    text-shadow: 1px 0.5px 1px #afafaf;
    position: fixed;
    width: 100%;
    block-size: 60px;
    bottom: 0;
}
